$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Deckgrid configuration */
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '3 .column.column-1-3';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-3 {
    width: 33%;
}


.deckgrid .column-1-2 {
    width: 50%;
}

.deckgrid .column-1-1 {
    width: 100%;
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
}

@media screen and (max-width: 780px){
    .deckgrid[deckgrid]::before {
        content: '2 .column.column-1-2';
    }
}

.card {
    padding: 1em;
    width: 100%;
    height: 100%;
    background:#fff url(/images/spinner.gif) center 30px no-repeat;
}

.animation-fade {
    opacity:0;
}

.animation-faded {
    opacity:1;
}

.animation-faded {
   -webkit-transition: opacity 1s linear .2s;
   -moz-transition: opacity 1s linear .2s;
   -o-transition: opacity 1s linear .2s;
   transition: opacity 1s linear .2s;
}

/* Header */
body {
  padding-top: 200px;
}

.header {
    background-color: white;
    width: 100%;
    height: 200px;
    position: fixed;
    top: 0; left: 0; right: 0;
}
.header_logo {
    text-align: center;
    margin: 10px;
}
.menu {
    text-align: center;
    align-content: center;
    list-style: none;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
    margin: 0px;
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

// PREVIOUS STYLES - BEGIN

.project_details {
    text-align: left;
    vertical-align: middle;
}
.project_details_description {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
}
ul.project_details_list {
    display: flex;
    padding: 0;
    flex-flow: row wrap;
    flex: 1;
    align-content: center;
    list-style: none;
}
.project_details_list > li {
    display: inline;
}
.project_details_list > li:nth-child(2n):after {
    display: block;
    content: '';
}
.project_details_list_thumb {
    width: 350px;
    height: 350px;
    padding: 0.5em 0.5em 0.5em;
}

// PREVIOUS STYLES - END


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
