$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding-top: 200px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Deckgrid configuration */
.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '3 .column.column-1-3';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.deckgrid .column {
  float: left;
}

.deckgrid .column-1-3 {
  width: 33%;
}

.deckgrid .column-1-2 {
  width: 50%;
}

.deckgrid .column-1-1 {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .deckgrid[deckgrid]::before {
    content: '1 .column.column-1-1';
  }
}

@media screen and (max-width: 780px) {
  .deckgrid[deckgrid]::before {
    content: '2 .column.column-1-2';
  }
}

.card {
  padding: 1em;
  width: 100%;
  height: 100%;
  background: #fff url(/images/spinner.gif) no-repeat center center;
}

.animation-fade {
  opacity: 0;
}

.animation-faded {
  opacity: 1;
}

.animation-faded {
  -webkit-transition: opacity 1s linear .2s;
  -moz-transition: opacity 1s linear .2s;
  -o-transition: opacity 1s linear .2s;
  transition: opacity 1s linear .2s;
}

// Splash
.splash {
  position: fixed;
  background: rgba(0,0,0,0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transition: opacity 0.5s, visibility 0s 0.5s;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}

.splash-open.splash {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.splash .splash-inner {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,150px);
  transform: translate3d(0,0,150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}


.splash-open.splash .splash-inner {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.splash .splash-content {
  width: 660px;
  height: 350px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -175px 0 0 -330px;
  color: #fff;
  font-size: 18px;
}

/* Header */
body {
}

.header {
  background-color: white;
  width: 100%;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header_logo {
  text-align: center;
  margin: 10px;
}

.header_languages {
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  margin: 10px;
}

.menu {
  text-align: center;
  align-content: center;
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

// PREVIOUS STYLES - BEGIN

.project_details {
  text-align: left;
  vertical-align: middle;
}

.project_details_description {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
}

// PREVIOUS STYLES - END

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
