$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

// PREVIOUS STYLES - BEGIN
.header {
    width: 100%;
}
.header_logo {
    text-align: center;   
    margin: 10px;
}
.menu {
    text-align: center;
    align-content: center;
    list-style: none;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
    margin: 0px;
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.home_project {
    align-content: stretch;
}
.home_project_list {
    list-style: none;
    text-align: center;
    padding: 5 5 5 5px;
    width: 100%;
}
.home_project_list > li {
    display: inline;
}
.home_project_list > li:nth-child(4n):after {
    display: block;
    content: '';
}
.home_project_list_thumb {
    padding: 1px;
    width: 40%;
    height: 40%;
    -webkit-mask-box-image: -webkit-linear-gradient(black, black);
}
.home_project_tags label {
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: #ddd;
}
.home_project_tags {
    right: 40px;
    display:inline-block;
    position: absolute;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.home_project_tags input {
    display: none;
}
.home_project_tags > div:nth-child(1) input[type=checkbox]:checked + label {
    border-style: solid;
    border-width: thin;
    border-color: black;
}
.home_project_tags > div:nth-child(2) input[type=checkbox]:checked + label {
    border-style: solid;
    border-width: thin;
    border-color: black;
}
.home_project_tags > div:nth-child(3) input[type=checkbox]:checked + label {
    border-style: solid;
    border-width: thin;
    border-color: black;
}
.about_resume {
    margin-left: 50px;
    text-align: left;
    align-content: center;
    vertical-align: middle;
    height: 80%;
}
.project_details {
    text-align: left;
    vertical-align: middle;
}
.project_details_description {
    margin-top: 25px;
    margin-bottom: 25px;
}
ul.project_details_list {
    display: flex;
    padding: 0;
    flex-flow: row wrap;
    flex: 1;
    align-content: center;
    list-style: none;
}
.project_details_list > li {
    display: inline;
}
.project_details_list > li:nth-child(2n):after {
    display: block;
    content: '';
}
.project_details_list_thumb {
    width: 350px;
    height: 350px;
    padding: 0.5em 0.5em 0.5em;
}

// PREVIOUS STYLES - END


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
