$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

body {
  padding-top: 200px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

// HEADER
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  z-index: 1000000;

  background-color: white;
  width: 100%;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header_logo {
  text-align: center;
  margin: 10px;
}

.header_languages {
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  margin: 10px;
}

.menu {
  text-align: center;
  align-content: center;
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

// PROJECT DETAILS
.card {
  padding: 1em;
  width: 100%;
  height: 100%;
  background: #fff url(/images/spinner.gif) no-repeat center center;
}

.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '3 .column.column-1-3';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.deckgrid .column {
  float: left;
}

.deckgrid .column-1-3 {
  width: 33%;
}

.deckgrid .column-1-2 {
  width: 50%;
}

.deckgrid .column-1-1 {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .deckgrid[deckgrid]::before {
    content: '1 .column.column-1-1';
  }
}

@media screen and (max-width: 780px) {
  .deckgrid[deckgrid]::before {
    content: '2 .column.column-1-2';
  }
}

// HOME
.home-brick a {
  text-decoration: none;
  color: inherit;
}

.home-brick .home-brick-image {
  display: block;
  position: relative;
  padding: 1px;
}

.home-brick-image img {
  display: block;
  height: auto;
}

.home-brick-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  transition: all .2s linear;
  vertical-align: middle;
}

.home-brick a:hover .home-brick-cover {
  background-color: black;
  opacity: 0.6;
  color: rgba(255, 255, 255, 1);
  transition: all .2s linear;
}

.home-brick a:hover .home-brick-cover {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.home-brick-cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// ABOUT
.about_header {
  display: flex;
  flex-direction: row;
}

.about_picture {
  padding: 20px;
}

.about_details {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.about_text {
  padding: 20px;
}

.about_projects {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.ui-grid-top-panel {
  background: white;
}

.ui-grid {
  border: 0px;
}

.ui-grid-column-menu-button {
  visibility: hidden;
}

.ui-grid-cell {
  border-right: 0px;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background: white;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background: white;
}

.ui-grid-header-cell {
  border-right: 0px;
}

// PREVIOUS STYLES - BEGIN

.project_details {
  text-align: left;
  vertical-align: middle;
}

.project_details_description {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
}

// PREVIOUS STYLES - END

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
