<div class="header">
  <div class="header_logo">
    <a href="#/">
      <h3>Julie Zuber</h3>
      <h4>Architecte d'intérieur</h4>
    </a>
  </div>
  <div class="header_languages">
    <button class="btn ng-scope" ng-click="changeLanguage('en')">en</button>
    <button class="btn ng-scope" ng-click="changeLanguage('fr')">fr</button>
  </div>
  <div>
    <ul class="menu">
      <li>
        <a href="#/about">{{ 'MENU_ABOUT' | translate }}</a>
      </li>
      <li ng-repeat="tag in tags">
        <a href="#/?filter={{tag}}">{{ 'TAG_' + tag.toUpperCase() | translate}}</a>
      </li>
    </ul>
  </div>
</div>
