<div class="header">
  <div class="header_logo"><a href="#/"><img src="https://placehold.it/150x150"/></a></div>
  <div class="header_languages">
    <button class="btn ng-scope" ng-click="changeLanguage('en')">en</button>
    <button class="btn ng-scope" ng-click="changeLanguage('fr')">fr</button>
  </div>
  <div>
    <ul class="menu">
      <li><a href="#/about">{{ 'MENU_ABOUT' | translate }}</a></li>
      <li ng-repeat="project in projects | unique : 'tag'">
        <a href="#/?filter={{project.tag}}">{{project.tag}}</a>
      </li>
    </ul>
  </div>
</div>
